.dropShadow {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="4" /><feOffset dx="5" dy="5" result="offsetblur" /><feFlood flood-color="rgba(255,69,0,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
	filter: drop-shadow(4px 4px 4px orangered);
}
.dropShadow {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="4" /><feOffset dx="5" dy="5" result="offsetblur" /><feFlood flood-color="rgba(255,0,0,0.5)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
  filter: drop-shadow(4px 4px 4px rgba(255,0,0,.5));
}
.dropShadow {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="4" /><feOffset dx="5" dy="5" result="offsetblur" /><feFlood flood-color="rgba(255,0,0,0.5)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
  filter: drop-shadow(4px 4px 4px rgba(255,0,0,.5) );
}
.dropShadow {
	filter: drop-shadow(4px 4px 4px 2px orangered);
}
.dropShadow {
  filter: drop-shadow(4px 4px 4px 2px rgba(255,0,0,.5));
}
