.invalid {
	filter: grayscale(-1);
}
.invalid {
	filter: hue-rotate(100px);
}
.invalid {
	filter: blur(2);
}
.invalid {
	filter: invert(40 %);
}
.invalid {
  filter: drop-shadow(4px 4px 4px 2 orangered);
}